Actividad GitFlow
Alumno: Tomás Lagos
nro de alumno: 18637922
fecha: 28/03/2022

In [1]:
#imports

from functions.retweeted import retweeted
from functions.users import users
from functions.days import days
from functions.hashtags import hashtags

In [2]:
import pandas as pd

df = pd.read_json('farmers-protest-tweets-2021-2-4.json', lines=True) #Separate users into several columns

df = pd.concat([df.drop(['user'], axis=1), df['user'].apply(pd.Series)], axis=1) #Separate users into several columns

df.keys()

Index(['url', 'date', 'content', 'renderedContent', 'id', 'outlinks',
       'tcooutlinks', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'media',
       'retweetedTweet', 'quotedTweet', 'mentionedUsers', 'username',
       'displayname', 'id', 'description', 'rawDescription', 'descriptionUrls',
       'verified', 'created', 'followersCount', 'friendsCount',
       'statusesCount', 'favouritesCount', 'listedCount', 'mediaCount',
       'location', 'protected', 'linkUrl', 'linkTcourl', 'profileImageUrl',
       'profileBannerUrl', 'url'],
      dtype='object')

1. Los top 10 tweets más retweeted.

In [3]:
top = retweeted(df)
print(top.head(10)[['username', 'retweetCount']])

               username  retweetCount
111329  RakeshTikaitBKU          7723
7645       dhruv_rathee          6164
89780         rupikaur_          4673
88911         amaanbali          3742
111556      jedijasmin_          3332
64492         rupikaur_          3230
108072      RaviSinghKA          3182
60721      sherryontopp          3057
29510      sherryontopp          3040
24160      sherryontopp          2622

2. Los top 10 usuarios en función a la cantidad de tweets que emitieron.

In [4]:
top = users(df)
print(top.head(10))

              username  count
20679           jot__b   1019
23788    rebelpacifist    850
8589   MaanDee08215437    830
5010       Gurpreetd86    636
4852         GurmVicky    597
24711  shells_n_petals    576
23238   preetysaini321    573
20093         ish_kayy    515
7619   KaurDosanjh1979    512
3580   DigitalKisanBot    490

3. Los top 10 días donde hay más tweets.

In [5]:
#top = days(df)
#print(top.head(10)[['id', 'user']])

4. Top 10 hashtags más usados.

In [8]:
top = hashtags(df)
print(top.head(10)[['hashtag', 'count']])

                     hashtag   count
1             FarmersProtest  112630
30    ReleaseDetainedFarmers    5987
102         FarmersMakeIndia    5263
4             farmersprotest    5105
52   MahapanchayatRevolution    4735
100       RepealOnlyWayAhead    4511
544       IndiaBeingSilenced    4332
98           FarmersProtests    3661
72       Pagdi_Sambhal_Jatta    3542
119                DishaRavi    3017